.social {
  background-color: var(--light-100);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.social-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light-200);
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: var(--transition-normal);
}

.social-link:hover {
  background-color: var(--secondary);
  color: white;
  transform: translateY(-6px) scale(1.1);
  box-shadow: var(--shadow-md);
}